In [1]:
print("Hello")

Hello

In [3]:
import sys
print(sys.executable)

/Library/Developer/CommandLineTools/usr/bin/python3

In [5]:
import pandas as pd

In [18]:

init_df = pd.read_csv("data.csv", encoding="latin1", sep=";")

In [19]:
init_df.head(3)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.0,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.0,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.0,0.00,0.00,8.76,0.88,0.88,50.0

In [21]:
list(init_df.columns)

['Rk',
 'Player',
 'Nation',
 'Pos',
 'Squad',
 'Comp',
 'Age',
 'Born',
 'MP',
 'Starts',
 'Min',
 '90s',
 'Goals',
 'Shots',
 'SoT',
 'SoT%',
 'G/Sh',
 'G/SoT',
 'ShoDist',
 'ShoFK',
 'ShoPK',
 'PKatt',
 'PasTotCmp',
 'PasTotAtt',
 'PasTotCmp%',
 'PasTotDist',
 'PasTotPrgDist',
 'PasShoCmp',
 'PasShoAtt',
 'PasShoCmp%',
 'PasMedCmp',
 'PasMedAtt',
 'PasMedCmp%',
 'PasLonCmp',
 'PasLonAtt',
 'PasLonCmp%',
 'Assists',
 'PasAss',
 'Pas3rd',
 'PPA',
 'CrsPA',
 'PasProg',
 'PasAtt',
 'PasLive',
 'PasDead',
 'PasFK',
 'TB',
 'PasPress',
 'Sw',
 'PasCrs',
 'CK',
 'CkIn',
 'CkOut',
 'CkStr',
 'PasGround',
 'PasLow',
 'PasHigh',
 'PaswLeft',
 'PaswRight',
 'PaswHead',
 'TI',
 'PaswOther',
 'PasCmp',
 'PasOff',
 'PasOut',
 'PasInt',
 'PasBlocks',
 'SCA',
 'ScaPassLive',
 'ScaPassDead',
 'ScaDrib',
 'ScaSh',
 'ScaFld',
 'ScaDef',
 'GCA',
 'GcaPassLive',
 'GcaPassDead',
 'GcaDrib',
 'GcaSh',
 'GcaFld',
 'GcaDef',
 'Tkl',
 'TklWon',
 'TklDef3rd',
 'TklMid3rd',
 'TklAtt3rd',
 'TklDri',
 'TklDriAtt',
 'TklDri%',
 'TklDriPast',
 'Press',
 'PresSucc',
 'Press%',
 'PresDef3rd',
 'PresMid3rd',
 'PresAtt3rd',
 'Blocks',
 'BlkSh',
 'BlkShSv',
 'BlkPass',
 'Int',
 'Tkl+Int',
 'Clr',
 'Err',
 'Touches',
 'TouDefPen',
 'TouDef3rd',
 'TouMid3rd',
 'TouAtt3rd',
 'TouAttPen',
 'TouLive',
 'DriSucc',
 'DriAtt',
 'DriSucc%',
 'DriPast',
 'DriMegs',
 'Carries',
 'CarTotDist',
 'CarPrgDist',
 'CarProg',
 'Car3rd',
 'CPA',
 'CarMis',
 'CarDis',
 'RecTarg',
 'Rec',
 'Rec%',
 'RecProg',
 'CrdY',
 'CrdR',
 '2CrdY',
 'Fls',
 'Fld',
 'Off',
 'Crs',
 'TklW',
 'PKwon',
 'PKcon',
 'OG',
 'Recov',
 'AerWon',
 'AerLost',
 'AerWon%']

In [34]:
cols_to_keep = ["Player", "Nation", "Born", "Goals", "Pos", "Min"]
df = init_df[cols_to_keep]

In [39]:
list(df.columns)
df.head(30)

                  Player Nation  Born  Goals   Pos   Min
0             Max Aarons    ENG  2000   0.00    DF  2881
1       Yunis Abdelhamid    MAR  1987   0.06    DF  2983
2      Salis Abdul Samed    GHA  2000   0.04    MF  2462
3        Laurent Abergel    FRA  1993   0.00    MF  2956
4            Charles Abi    FRA  2000   0.00    FW    45
5         Dickson Abiama    NGA  1998   0.00    FW   726
6         Matthis Abline    FRA  2003   0.00    FW   103
7          Tammy Abraham    ENG  1997   0.50    FW  3084
8             Luis Abram    PER  1996   0.00    DF   560
9       Francesco Acerbi    ITA  1988   0.14    DF  2536
10           Ragnar Ache    GER  1998   0.00  MFFW   259
11          Mohamed Achi    FRA  2002   0.00    MF    10
12          Marcos Acuña    ARG  1991   0.04    DF  2260
13             Che Adams    SCO  1996   0.31    FW  2039
14           Tyler Adams    USA  1999   0.00    MF  1351
15        Sargis Adamyan    ARM  1993   0.27  FWMF   331
16        Martin Adeline    FRA  2003   0.00  MFFW   352
17            Amine Adli    FRA  2000   0.21  FWMF  1256
18           Yacine Adli    FRA  2000   0.04  MFFW  2260
19      Michel Aebischer    SUI  1997   0.00    MF   443
20      Felix Afena-Gyan    GHA  2003   0.27  FWMF   668
21  Martin Agirregabiria    ESP  1996   0.00    DF  1616
22    Julen Agirrezabala    ESP  2000   0.00    GK   360
23         Lucien Agoume    FRA  2002   0.00    MF  1868
24         Kevin Agudelo    COL  1998   0.22  MFFW  1237
25          Nayef Aguerd    MAR  1996   0.07    DF  2735
26         Sergio Agüero    ARG  1988   0.59    FW   151
27         Ruben Aguilar    FRA  1993   0.00    DF  2140
28        Álvaro Aguirre    ESP  2000   0.00    FW     9
29      Naouirou Ahamada    FRA  2002   0.00    MF    61

In [25]:
cols_to_drop = ["Rk", "Pos", "Squad", "Comp"]
df = init_df.drop(columns=cols_to_drop)